<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link rel="stylesheet" href="/stylesheets/aboutp.css">
    <link rel="stylesheet" href="/stylesheets/services.css">
  </head>
  <header>
    <nav class="Navbar">
        <div class="logo",active>
            <img src="" alt="image here">
        </div>
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="mailto:yakubuking@yahoo.com">Contact Me</a></li>  
      </ul>
      <div class="btn">
        <button>
            Download Resume
        </button>
      </div>
    </nav>
  </header>
  