.P_cont {
    padding-top: 120px;
    background-color: #f0f0f0 !important;
    width: 100%;
    background-image: url();
}

.p_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.P__grid__ div {
    cursor: pointer;
    color: #FFFFFF; /* White text */
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.P__grid__ a {
    text-decoration: none;
}

.P__grid__ div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px #E0E0E0; /* Adjusted to grey shadow */
    background-color: #F5F5F5; /* Light grey background */
    color: #000000; /* Black text */
    transition: .5s linear;
}



.test {
    background-image: url("test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.P__grid__{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.p_item h2{
    font-size: 20px;
}
.p_item{

}

