<% include partials/header.ejs %>
<div class="about-container">
  <div class="container">
    <div class="profile">
      <img src="/stylesheets/WhatsApp Image 2023-10-01 at 10.13.54 PM.jpeg" alt="Your Picture" class="profile-picture">
      <div class="description">
        <h1>Mr Abdul-Fatai, Yakubu</h1>
        <p>
          As a junior developer currently pursuing academic excellence, our budding tech enthusiast brings to the table an impressive skill set encompassing JavaScript, C#, Python, and SQL. In the world of technology, passion and a drive for continuous learning are the cornerstones of progress. Our junior developer embodies precisely that spirit, constantly pushing boundaries and seeking innovative solutions.
        </p>
      </div>
    </div>
  </div>
</div>


  <% include partials/footer.ejs %>