<% include partials/header.ejs %>

      <section class="homesec">
        
          <section class="Homepage">
              <div class="upper">
                  <div class="headingbox">
                      <img src="/stylesheets/WhatsApp Image 2023-10-01 at 10.13.54 PM.jpeg" alt="image here" width="320px" height="320px">
                      <p class="h1">
                        Mr. Yak 
                      </p>
                      <p class="tn">
                        Are you looking for a software developer who can create amazing software products and services for your business or personal needs? If yes, then you have come to the right place. I am a software developer with few years of experience and expertise in various domains and technologies. I can help you with web development, mobile development, game development, data science, and more. I can design and code software solutions that meet your requirements and expectations.
                        click the button below.
                      </p> 

                  </div>
              </div>
              <div class="btns">
                  <div class="secbtn">
                     <a href="/about">Let's Get Started</a> 
                  </div>
              </div>

          </section>


<% include partials/footer.ejs %>
