<% include partials/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <body>
      <section class="homesec">
          <section class="Homepage">
              <div class="upper">
                  <div class="headingbox">
                    <p class="h1">
                      Mr. Yak 
                  </p>
                  <p>
                      Junior DeV. 
                  </p>
                      <img src="/stylesheets/WhatsApp Image 2023-10-01 at 10.13.54 PM.jpeg" alt="image here" width="320px" height="320px">
                     
                  </div>
                
              </div>
              <div class="btns">
                  <div class="prybtn">
                      <button href="/about">Let's Get Started</button>
                  </div>
              </div>

          </section>
     
  </body>


<% include partials/footer.ejs %>
