<% include partials/header.ejs %>
<body>
    <div class="P_cont">
		<h2></h2>
		<div class="P__grid__">
			<a href="Details_page1.html">
            <div class="p_item"> 
				<p>Project One</p>
				<p>Real Estate Website</p>
                <img src="download.png" width="200px" height="200px">
			</div>
			</a>

			<a href="Details_page2.html">
			<div class="p_item"> 
                <p>Project Two</p>
				<p>Bank System Development</p>
				<img src="mybank.png"  width="200px" height="200px">
			</div>
			</a>

			<a href="Details_page3.html">
            <div class="p_item"> 
                <p>Project Three</p>
				<p>Bug Smasher Game</p>
				<img src="bug.png"  width="200px" height="200px">
			</div>
			</a>
		</div>
		
</body>
<% include partials/footer.ejs %>
