<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <title>Document</title>
</head>
<body>
    <div class="P_cont">
		<h2></h2>
		<div class="P__grid__">
			<a href="Details_page1.html">
            <div class="p_item"> 
				<p>Project One</p>
                <img src="download.png" width="200px" height="200px">
			</div>
			</a>

			<a href="Details_page2.html">
			<div class="p_item"> 
                <p>Project Two</p>
				<img src="mybank.png"  width="200px" height="200px">
			</div>
			</a>

			<a href="Details_page3.html">
            <div class="p_item"> 
                <p>Project Three</p>
				<img src="bug.png"  width="200px" height="200px">
			</div>
			</a>

		
</body>
</html>